:root {
  --main-color: #757575;
  --main-bg-color: #ffffff;
  --webstudio-header-color: #000000;
  --webstudio-footer-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --dark-bg-color: #2f303a;
  --hero-title-color: #ffffff;
  --hero-bg-color: rgba(47, 48, 58, 0.4);
  --btn-text-color: #ffffff;
  --btn-bg-color: #f5f4fa;
  --feature-title-color: #212121;
  --team-bg-color: #f5f4fa;
  --team-card-color: #ffffff;
  --footer-addr-color: #ffffff;
  --footer-tel-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: 'Roboto', Tahoma, sans-serif;

  /* Основной цвет - цвет абзацев */
  color: var(--main-color);
  /* Основной фон страницы */
  background-color: var(--main-bg-color);
}

/* Утилиты */

/* Убираем точки и паддинги у списков */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Контейнер */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ---------------------HEADER--------------------- */

.webstudio-header {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: 'Raleway', Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--webstudio-header-color);

  text-decoration: none;
}

.webstudio-accent {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}
.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 95px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-color);

  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .auth-tel + .auth-tel {
  margin-left: 50px;
}

.auth-tel {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: inherit;

  text-decoration: none;
}

.auth-tel:hover,
.auth-tel:focus {
  color: var(--accent-color);
}

/* ---------------------HERO--------------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  text-align: center;

  background-color: var(--dark-bg-color);
  background-image: linear-gradient(var(--hero-bg-color), var(--hero-bg-color)), url(../images/hero-bg.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-title-color);
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--btn-text-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

/* ---------------------SECTION--------------------- */

.section {
  padding-top: 94px;
}

.section-padding-bottom {
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* ---------------------FEATURE--------------------- */

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-list .title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ---------------------WORK--------------------- */

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list .item {
  width: 370px;

  box-shadow: 9px 21px 31px 1px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 9px 21px 31px 1px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 9px 21px 31px 1px rgba(0, 0, 0, 0.77);
}

.work-list .item + .item {
  margin-left: 30px;
}

/* ---------------------TEAM--------------------- */

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .item {
  width: 270px;

  border-radius: 0px 0px 4px 4px;
  border: 1px solid var(--border-color);

  box-shadow: 9px 21px 31px 1px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 9px 21px 31px 1px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 9px 21px 31px 1px rgba(0, 0, 0, 0.77);
}

.team-list .item + .item {
  margin-left: 30px;
}

.team {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px;

  background-color: var(--team-card-color);
}

.team-add {
  padding-bottom: 94px;
  background-color: var(--team-bg-color);
}

.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-list .text {
  margin: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ---------------------FOOTER--------------------- */

.footer {
  display: block;

  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  background-color: var(--dark-bg-color);
}

.webstudio-footer {
  font-family: 'Raleway', Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--webstudio-footer-color);
  text-decoration: none;
}

.footer-address {
  margin-top: 20px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-addr-color);
}

.footer-tel {
  margin-top: 9px;

  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-tel-color);

  text-decoration: none;
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/* ---------------------PORTFOLIO--------------------- */

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .item + .item {
  margin-left: 8px;
}

.filters .btn {
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--btn-bg-color);
}

.filters .btn:hover,
.filters .btn:focus,
.filters .btn.current {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;

  margin: 0 0 94px 0;
}

.projects .item {
  width: calc((100% - 60px) / 3);

  margin: 0;

  border: 1px solid var(--border-color);
}

.projects .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-data {
  padding: 20px 24px;
}

.project-data .title {
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-data .text {
  margin: 4px 0 0 0;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
